{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    <h1 class="text-center"> 
           Reporte Empresas Registradas
    </h1>
{% endblock titulo %}


{% block contenido %}

    <!-- <h4>Cantidad de empresas en la tabla {{ empresas|length }}</h4>       -->
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre de la Empresa</th>
                <th>Identificacion</th>
            </tr>
        </thead>
        <tbody>
    {% for c in empresas  %}
            <tr>
                <td>{{ c.nombre }}</td>
                <td>{{ c.nit }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}